USE master
go
CREATE DATABASE [bdBrasilResort]
GO
USE [bdBrasilResort]
GO
/****** Object:  Table [dbo].[departamentos$]    Script Date: 20/02/2023 19:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos$](
	[Id] [int] primary key identity(1,1),
	[deptname] [nvarchar](255) NULL,
	[deptmgrid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcionarios$]    Script Date: 20/02/2023 19:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarios$](
	[Id] [int] primary key identity(1,1),
	[mgrid] [int] NULL,
	[empname] [nvarchar](255) NOT NULL,
	[salary] [real] NOT NULL,
	[deptid] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logins$]    Script Date: 20/02/2023 19:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins$](
	[Id] [int] primary key identity(1,1),
	[qtd] [int] NOT NULL,
	[empid] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nascimento$]    Script Date: 20/02/2023 19:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nascimento$](
	[Id] [int] primary key identity(1,1),
	[date] [datetime] NOT NULL,
	[hiredate] [datetime] NOT NULL,
	[empid] [int] NULL
) ON [PRIMARY]
GO
