USE [master]
GO
IF  EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'bdAbuDhabiTurS2E03')
ALTER DATABASE bdAbuDhabiTurS2E03 SET SINGLE_USER WITH ROllBACK IMMEDIATE 
DROP DATABASE bdAbuDhabiTurS2E03
GO
/****** Object:  Database [bdAbuDhabiTurS2E03]    Script Date: 28/02/2016 11:46:05 ******/
CREATE DATABASE [bdAbuDhabiTurS2E03]
GO
USE [bdAbuDhabiTurS2E03]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 28/02/2016 11:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compras](
	[COMCODIGO] [int] NOT NULL,
	[COMVALORBRUTO] [numeric](18, 2) NULL,
	[COMDESCONTOS] [numeric](18, 2) NULL,
	[COMVALORLIQUIDO] [numeric](18, 2) NULL,
	[COMACOMPANHANTES] [varchar](max) NULL,
	[COMTOKEN] [varchar](max) NULL,
	[COMSTATUS] [varchar](300) NULL,
	[COMDATA] [datetime] NOT NULL,
	[COMDATAATUALIZACAO] [datetime] NULL,
	[CLINOME] [varchar](250) NOT NULL,
	[CLISOBRENOME] [varchar](250) NOT NULL,
	[CLIEMAIL] [varchar](350) NULL,
	[CLICELULAR] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Compras] ([COMCODIGO], [COMVALORBRUTO], [COMDESCONTOS], [COMVALORLIQUIDO], [COMACOMPANHANTES], [COMTOKEN], [COMSTATUS], [COMDATA], [COMDATAATUALIZACAO], [CLINOME], [CLISOBRENOME], [CLIEMAIL], [CLICELULAR]) VALUES (84, CAST(600.00 AS Numeric(18, 2)), NULL, CAST(600.00 AS Numeric(18, 2)), N'NENHUM', N'A0CDB60C-897C-43F9-B2FA-C35088A16CBB', N'Cancelada', CAST(N'2015-11-09 21:31:42.637' AS DateTime), CAST(N'2015-12-04 04:03:06.333' AS DateTime), N'vivi an', N'Thaís', N'vivian.louise27@gmail.com', N'79981339375')
GO
INSERT [dbo].[Compras] ([COMCODIGO], [COMVALORBRUTO], [COMDESCONTOS], [COMVALORLIQUIDO], [COMACOMPANHANTES], [COMTOKEN], [COMSTATUS], [COMDATA], [COMDATAATUALIZACAO], [CLINOME], [CLISOBRENOME], [CLIEMAIL], [CLICELULAR]) VALUES (97, CAST(630.00 AS Numeric(18, 2)), NULL, CAST(630.00 AS Numeric(18, 2)), N'NENHUM', NULL, N'Simulação', CAST(N'2015-11-13 13:22:19.980' AS DateTime), CAST(N'2015-11-13 14:28:34.097' AS DateTime), N'Daniela ', N'feitosa macedo de aquino', N'cleodani@outlook.com', N'7988299533')
GO
INSERT [dbo].[Compras] ([COMCODIGO], [COMVALORBRUTO], [COMDESCONTOS], [COMVALORLIQUIDO], [COMACOMPANHANTES], [COMTOKEN], [COMSTATUS], [COMDATA], [COMDATAATUALIZACAO], [CLINOME], [CLISOBRENOME], [CLIEMAIL], [CLICELULAR]) VALUES (98, CAST(905.00 AS Numeric(18, 2)), NULL, CAST(905.00 AS Numeric(18, 2)), N'NENHUM', NULL, N'Simulação', CAST(N'2015-11-16 10:24:32.460' AS DateTime), CAST(N'2015-11-16 12:10:01.953' AS DateTime), N'Luiz Levy', N'Pandini Figueiredo', N'Levy_pandini@hotmail.com', N'71996043543')
GO
USE [master]
GO
