USE [master]
GO
IF  EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'bdAbuDhabiTurS2E04')
ALTER DATABASE bdAbuDhabiTurS2E04 SET SINGLE_USER WITH ROllBACK IMMEDIATE 
DROP DATABASE bdAbuDhabiTurS2E04
GO
/****** Object:  Database [bdAbuDhabiTurS2E04]    Script Date: 28/02/2016 12:37:23 ******/
CREATE DATABASE [bdAbuDhabiTurS2E04]
GO
USE [bdAbuDhabiTurS2E04]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/02/2016 12:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](250) NOT NULL,
	[SOBRENOME] [varchar](250) NOT NULL,
	[CPF] [varchar](15) NULL,
	[CELULAR] [varchar](20) NULL,
	[EMAIL] [varchar](350) NULL,
	[DATANASCIMENTO] [datetime] NOT NULL CONSTRAINT [DF_Cliente_CLIDATANASCIMENTO]  DEFAULT (((2)-(7))-(1979)),
	[ENDERECO] [varchar](50) NULL,
	[CIDADE] [varchar](2500) NULL,
	[id_estado] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 28/02/2016 12:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compra](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOCLIENTE] [int] NULL,
	[VALORBRUTO] [numeric](18, 2) NULL,
	[DESCONTOS] [numeric](18, 2) NULL CONSTRAINT [DF_Pacote_PACDESCONTOS]  DEFAULT ((0)),
	[VALORLIQUIDO] [numeric](18, 2) NULL,
	[ACOMPANHANTES] [varchar](max) NULL,
	[TRANSACAOID] [varchar](max) NULL,
	[DATA] [datetime] NOT NULL CONSTRAINT [DF_Compra_COMDATA]  DEFAULT (getdate()),
	[DATAATUALIZACAO] [datetime] NULL CONSTRAINT [defaultDataAtualizacao]  DEFAULT (getdate()),
	[STATUS] [varchar](300) NULL,
 CONSTRAINT [PK_Pacote] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 28/02/2016 12:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estados](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[codigo_ibge] [varchar](4) NOT NULL,
	[sigla] [char](2) NOT NULL,
	[nome] [varchar](30) NOT NULL,
	[dtm_lcto] [datetime] NOT NULL DEFAULT (getdate()),
	[bandeira] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 28/02/2016 12:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reserva](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOCOMPRA] [int] NOT NULL,
	[CODIGOTIPO] [int] NOT NULL,
	[DATAINICIO] [date] NOT NULL,
	[DATAFIM] [date] NOT NULL,
	[TIPOPENSAO] [char](2) NULL CONSTRAINT [DF_Reserva_RESTIPOPENSAO]  DEFAULT ('IN'),
	[QUANTIDADEADULTOS] [int] NULL,
	[QUANTIDADECRIANCAS] [int] NULL,
	[VALORRESERVA] [numeric](18, 2) NULL,
 CONSTRAINT [FK_Composta_TipoAcomodacao_Compra] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOACOMODACAO]    Script Date: 28/02/2016 12:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TIPOACOMODACAO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[DESCRICAO] [varchar](max) NULL,
	[VALOR] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_TIPOACOMODACAO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

GO
INSERT [dbo].[Cliente] ([CODIGO], [NOME], [SOBRENOME], [CPF], [CELULAR], [EMAIL], [DATANASCIMENTO], [ENDERECO], [CIDADE], [id_estado]) VALUES (1149, N'vivi an', N'Thaís', N'04523716510', N'79981339375', N'vivian.louise27@gmail.com', CAST(N'1894-07-27 00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Cliente] ([CODIGO], [NOME], [SOBRENOME], [CPF], [CELULAR], [EMAIL], [DATANASCIMENTO], [ENDERECO], [CIDADE], [id_estado]) VALUES (1162, N'Daniela ', N'feitosa macedo de aquino', N'01565260503', N'7988299533', N'cleodani@outlook.com', CAST(N'1894-07-27 00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Cliente] ([CODIGO], [NOME], [SOBRENOME], [CPF], [CELULAR], [EMAIL], [DATANASCIMENTO], [ENDERECO], [CIDADE], [id_estado]) VALUES (1163, N'Luiz Levy', N'Pandini Figueiredo', N'04446229508', N'71996043543', N'Levy_pandini@hotmail.com', CAST(N'1894-07-27 00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

GO
INSERT [dbo].[Compra] ([CODIGO], [CODIGOCLIENTE], [VALORBRUTO], [DESCONTOS], [VALORLIQUIDO], [ACOMPANHANTES], [TRANSACAOID], [DATA], [DATAATUALIZACAO], [STATUS]) VALUES (84, 1149, CAST(600.00 AS Numeric(18, 2)), NULL, CAST(600.00 AS Numeric(18, 2)), N'NENHUM', N'A0CDB60C-897C-43F9-B2FA-C35088A16CBB', CAST(N'2015-11-09 21:31:42.637' AS DateTime), CAST(N'2015-12-04 04:03:06.333' AS DateTime), N'Cancelada')
GO
INSERT [dbo].[Compra] ([CODIGO], [CODIGOCLIENTE], [VALORBRUTO], [DESCONTOS], [VALORLIQUIDO], [ACOMPANHANTES], [TRANSACAOID], [DATA], [DATAATUALIZACAO], [STATUS]) VALUES (97, 1162, CAST(630.00 AS Numeric(18, 2)), NULL, CAST(630.00 AS Numeric(18, 2)), N'NENHUM', NULL, CAST(N'2015-11-13 13:22:19.980' AS DateTime), CAST(N'2015-11-13 14:28:34.097' AS DateTime), N'Simulação')
GO
INSERT [dbo].[Compra] ([CODIGO], [CODIGOCLIENTE], [VALORBRUTO], [DESCONTOS], [VALORLIQUIDO], [ACOMPANHANTES], [TRANSACAOID], [DATA], [DATAATUALIZACAO], [STATUS]) VALUES (98, 1163, CAST(905.00 AS Numeric(18, 2)), NULL, CAST(905.00 AS Numeric(18, 2)), N'NENHUM', NULL, CAST(N'2015-11-16 10:24:32.460' AS DateTime), CAST(N'2015-11-16 12:10:01.953' AS DateTime), N'Simulação')
GO
SET IDENTITY_INSERT [dbo].[Compra] OFF
GO
Update Cliente Set CELULAR = REPLACE(CELULAR,'98215861','45015466') Update Cliente Set CELULAR = REPLACE(CELULAR,'91237646','82231447') Update Cliente Set CELULAR = REPLACE(CELULAR,'79','11') Update Cliente Set EMAIL = REPLACE(EMAIL,'juniorspse','maisBrasil') Update Cliente Set EMAIL = REPLACE(EMAIL,'aracaju','saopaulo')
GO
SET IDENTITY_INSERT [dbo].[Estados] ON 

GO
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 
GO
INSERT [dbo].[Reserva] ([CODIGO], [CODIGOCOMPRA], [CODIGOTIPO], [DATAINICIO], [DATAFIM], [TIPOPENSAO], [QUANTIDADEADULTOS], [QUANTIDADECRIANCAS], [VALORRESERVA]) VALUES (13, 84, 2, CAST(N'2015-12-12' AS Date), CAST(N'2015-12-13' AS Date), NULL, 2, NULL, NULL)
GO
INSERT [dbo].[Reserva] ([CODIGO], [CODIGOCOMPRA], [CODIGOTIPO], [DATAINICIO], [DATAFIM], [TIPOPENSAO], [QUANTIDADEADULTOS], [QUANTIDADECRIANCAS], [VALORRESERVA]) VALUES (29, 97, 1, CAST(N'2015-11-21' AS Date), CAST(N'2015-11-22' AS Date), NULL, 2, NULL, NULL)
GO
INSERT [dbo].[Reserva] ([CODIGO], [CODIGOCOMPRA], [CODIGOTIPO], [DATAINICIO], [DATAFIM], [TIPOPENSAO], [QUANTIDADEADULTOS], [QUANTIDADECRIANCAS], [VALORRESERVA]) VALUES (30, 98, 1, CAST(N'2015-12-05' AS Date), CAST(N'2015-12-07' AS Date), NULL, 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOACOMODACAO] ON 

GO
INSERT [dbo].[TIPOACOMODACAO] ([CODIGO], [NOME], [DESCRICAO], [VALOR]) VALUES (1, N'Chalé', N'Chalé composto por frigobar, ar condicionado, Tv, cama king e super king. Café da manhã incluso. 01 Criança até 05 anos acomodada com os pais é cortesia. Havendo uma segunda criança, imediatamente, considerar como adulto.', CAST(230.10 AS Numeric(18, 2)))
GO
INSERT [dbo].[TIPOACOMODACAO] ([CODIGO], [NOME], [DESCRICAO], [VALOR]) VALUES (2, N'Apartamento', N'Apartamento composto por frigobar, ar-condicionado, cama twins e / ou casal, tv, cortina. Café da manhã incluso. 01 Criança até 05 anos acomodada com os pais é cortesia. Havendo uma segunda criança, imediatamente, considerar como adulto.', CAST(352.90 AS Numeric(18, 2)))
GO
INSERT [dbo].[TIPOACOMODACAO] ([CODIGO], [NOME], [DESCRICAO], [VALOR]) VALUES (3, N'Apartamento FAP', N'Apartamento composto por frigobar, ar-condicionado, cama twins e / ou casal, tv, cortina. Café da manhã ,almoço e janta incluso. 01 Criança até 05 anos acomodada com os pais é cortesia. Havendo uma segunda criança, imediatamente, considerar como adulto.', CAST(0.00 AS Numeric(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[TIPOACOMODACAO] OFF
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Estados] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estados] ([id_estado])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Estados]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Pacote_Cliente] FOREIGN KEY([CODIGOCLIENTE])
REFERENCES [dbo].[Cliente] ([CODIGO])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Pacote_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Compra] FOREIGN KEY([CODIGOCOMPRA])
REFERENCES [dbo].[Compra] ([CODIGO])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Compra]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_TIPOACOMODACAO] FOREIGN KEY([CODIGOTIPO])
REFERENCES [dbo].[TIPOACOMODACAO] ([CODIGO])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_TIPOACOMODACAO]
GO
ALTER TABLE [dbo].[Cliente] add Feedback varchar(100) null
GO
Update Cliente Set NOME = 'Emilia' where CODIGO = 1214
GO
USE [master]
GO
