USE [master]
GO
/****** Object:  Database [dbAbuDhabiTur]    Script Date: 12/03/2016 09:35:52 ******/
CREATE DATABASE [bdAbuDhabiTurS04]
GO
USE [bdAbuDhabiTurS04]
go
set language 'English'
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 12/03/2016 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[CLICODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CLINOME] [varchar](250) NOT NULL,
	[CLISOBRENOME] [varchar](250) NOT NULL,
	[CLICELULAR] [varchar](20) NULL,
	[CLIEMAIL] [varchar](350) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CLICODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DisponibilidadeAcomodacao]    Script Date: 12/03/2016 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisponibilidadeAcomodacao](
	[DISCOD] [int] IDENTITY(1,1) NOT NULL,
	[DISDATA] [date] NOT NULL,
	[DISQUANTIDADE] [int] NOT NULL,
	[TIPCODIGO] [int] NULL,
	[VALOR1] [numeric](18, 2) NULL,
	[VALOR2] [numeric](18, 2) NULL,
	[VALOR3] [numeric](18, 2) NULL,
	[VALOR4] [numeric](18, 2) NULL,
	[VALOR5] [numeric](18, 2) NULL,
	[MINIMO] [int] NULL,
 CONSTRAINT [PK_DisponibilidadeAcomodacao_1] PRIMARY KEY CLUSTERED 
(
	[DISCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 12/03/2016 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hotel](
	[HOTCODIGO] [int] IDENTITY(1,1) NOT NULL,
	[HOTNOME] [varchar](50) NOT NULL,
	[HOTENDERECO] [varchar](100) NOT NULL,
	[HOTFOTO] [varchar](100) NOT NULL,
	[CAFEINCLUSO] [bit] NOT NULL CONSTRAINT [DF_Hotel_CAFEINCLUSO]  DEFAULT ((1)),
	[WIFI] [bit] NOT NULL CONSTRAINT [DF_Hotel_WIFI]  DEFAULT ((1)),
	[ESTACIONAMENTO] [bit] NOT NULL CONSTRAINT [DF_Hotel_ESTACIONAMENTO]  DEFAULT ((1)),
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HOTCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 12/03/2016 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[RESCODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CLICODIGO] [int] NULL,
	[TIPCODIGO] [int] NOT NULL,
	[RESDATAINICIO] [date] NOT NULL,
	[RESDATAFIM] [date] NOT NULL,
	[RESQUANTIDADEADULTOS] [int] NULL,
	[RESVALORRESERVA] [numeric](18, 2) NULL,
 CONSTRAINT [FK_Composta_TipoAcomodacao_Compra] PRIMARY KEY CLUSTERED 
(
	[RESCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPOACOMODACAO]    Script Date: 12/03/2016 09:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOACOMODACAO](
	[TIPCODIGO] [int] IDENTITY(1,1) NOT NULL,
	[TIPNOME] [varchar](100) NOT NULL,
	[HOTCODIGO] [int] NULL,
	[TIPDESCRICAO] [varchar](max) NULL,
	[TIPMAXADULTOS] [int] NULL,
	[TIPMAXCRIANCAS] [int] NULL,
	[TIPVALORMINIMO] [numeric](18, 2) NULL,
 CONSTRAINT [PK_TIPOACOMODACAO] PRIMARY KEY CLUSTERED 
(
	[TIPCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

GO
INSERT [dbo].[Cliente] ([CLICODIGO], [CLINOME], [CLISOBRENOME], [CLICELULAR], [CLIEMAIL]) VALUES (1, N'Maria Ferreira', N'Silva Cuellar', N'812121574', N'ferreiramary@gmail.com')
GO
INSERT [dbo].[Cliente] ([CLICODIGO], [CLINOME], [CLISOBRENOME], [CLICELULAR], [CLIEMAIL]) VALUES (2, N'America', N'Freire', N'219895236', N'america@bol.com.br')
GO
INSERT [dbo].[Cliente] ([CLICODIGO], [CLINOME], [CLISOBRENOME], [CLICELULAR], [CLIEMAIL]) VALUES (3, N'Maxon', N'Souza', N'1165989898', N'maxon@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[DisponibilidadeAcomodacao] ON 

GO
INSERT [dbo].[DisponibilidadeAcomodacao] ([DISCOD], [DISDATA], [DISQUANTIDADE], [TIPCODIGO], [VALOR1], [VALOR2], [VALOR3], [VALOR4], [VALOR5], [MINIMO]) VALUES (1, CAST(N'2016-06-20' AS Date), 10, 1, CAST(861.00 AS Numeric(18, 2)), CAST(1722.00 AS Numeric(18, 2)), CAST(2583.00 AS Numeric(18, 2)), CAST(2544.00 AS Numeric(18, 2)), CAST(3805.00 AS Numeric(18, 2)), 2)
GO
INSERT [dbo].[DisponibilidadeAcomodacao] ([DISCOD], [DISDATA], [DISQUANTIDADE], [TIPCODIGO], [VALOR1], [VALOR2], [VALOR3], [VALOR4], [VALOR5], [MINIMO]) VALUES (2, CAST(N'2016-06-21' AS Date), 10, 1, CAST(758.00 AS Numeric(18, 2)), CAST(1516.00 AS Numeric(18, 2)), CAST(2274.00 AS Numeric(18, 2)), CAST(2132.00 AS Numeric(18, 2)), CAST(3290.00 AS Numeric(18, 2)), 2)
GO
INSERT [dbo].[DisponibilidadeAcomodacao] ([DISCOD], [DISDATA], [DISQUANTIDADE], [TIPCODIGO], [VALOR1], [VALOR2], [VALOR3], [VALOR4], [VALOR5], [MINIMO]) VALUES (3, CAST(N'2016-06-22' AS Date), 10, 1, CAST(739.00 AS Numeric(18, 2)), CAST(1478.00 AS Numeric(18, 2)), CAST(2217.00 AS Numeric(18, 2)), CAST(2056.00 AS Numeric(18, 2)), CAST(3195.00 AS Numeric(18, 2)), 2)
GO
SET IDENTITY_INSERT [dbo].[DisponibilidadeAcomodacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

GO
INSERT [dbo].[Hotel] ([HOTCODIGO], [HOTNOME], [HOTENDERECO], [HOTFOTO], [CAFEINCLUSO], [WIFI], [ESTACIONAMENTO]) VALUES (2, N'Radisson Blue Hotel
', N'Ryhno Street', N'radisson.jpg', 1, 1, 1)
GO
INSERT [dbo].[Hotel] ([HOTCODIGO], [HOTNOME], [HOTENDERECO], [HOTFOTO], [CAFEINCLUSO], [WIFI], [ESTACIONAMENTO]) VALUES (3, N'Park Inn by Radisson Abu Dhabi
', N'Street B', N'parkin.jpg', 1, 1, 1)
GO
INSERT [dbo].[Hotel] ([HOTCODIGO], [HOTNOME], [HOTENDERECO], [HOTFOTO], [CAFEINCLUSO], [WIFI], [ESTACIONAMENTO]) VALUES (4, N'Dusit Thani
', N'Thani Street', N'dusit.jpg', 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOACOMODACAO] ON 

GO
INSERT [dbo].[TIPOACOMODACAO] ([TIPCODIGO], [TIPNOME], [HOTCODIGO], [TIPDESCRICAO], [TIPMAXADULTOS], [TIPMAXCRIANCAS], [TIPVALORMINIMO]) VALUES (1, N'Standard', 2, N'O hotel standard conta com camas totalmente confortáveis, ar-condicionado e tv', 2, 1, CAST(400.00 AS Numeric(18, 2)))
GO
INSERT [dbo].[TIPOACOMODACAO] ([TIPCODIGO], [TIPNOME], [HOTCODIGO], [TIPDESCRICAO], [TIPMAXADULTOS], [TIPMAXCRIANCAS], [TIPVALORMINIMO]) VALUES (2, N'Standard', 3, N'O hotel standard conta com camas totalmente confortáveis, ar-condicionado e tv', 2, 1, CAST(450.00 AS Numeric(18, 2)))
GO
INSERT [dbo].[TIPOACOMODACAO] ([TIPCODIGO], [TIPNOME], [HOTCODIGO], [TIPDESCRICAO], [TIPMAXADULTOS], [TIPMAXCRIANCAS], [TIPVALORMINIMO]) VALUES (3, N'Standard', 4, N'O hotel standard conta com camas totalmente confortáveis, ar-condicionado e tv', 2, 1, CAST(700.00 AS Numeric(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[TIPOACOMODACAO] OFF
GO
ALTER TABLE [dbo].[DisponibilidadeAcomodacao]  WITH CHECK ADD  CONSTRAINT [FK_DisponibilidadeAcomodacao_TIPOACOMODACAO] FOREIGN KEY([TIPCODIGO])
REFERENCES [dbo].[TIPOACOMODACAO] ([TIPCODIGO])
GO
ALTER TABLE [dbo].[DisponibilidadeAcomodacao] CHECK CONSTRAINT [FK_DisponibilidadeAcomodacao_TIPOACOMODACAO]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([CLICODIGO])
REFERENCES [dbo].[Cliente] ([CLICODIGO])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_TIPOACOMODACAO] FOREIGN KEY([TIPCODIGO])
REFERENCES [dbo].[TIPOACOMODACAO] ([TIPCODIGO])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_TIPOACOMODACAO]
GO
ALTER TABLE [dbo].[TIPOACOMODACAO]  WITH CHECK ADD  CONSTRAINT [FK_TIPOACOMODACAO_Hotel] FOREIGN KEY([HOTCODIGO])
REFERENCES [dbo].[Hotel] ([HOTCODIGO])
GO
ALTER TABLE [dbo].[TIPOACOMODACAO] CHECK CONSTRAINT [FK_TIPOACOMODACAO_Hotel]
GO
USE [master]
GO
